[2015-03-12 16:54] miyconst opened #1 "Cannot create property ID in class Something"
Project compiles but don't start if I create a property ID in class Something.cs.

The property:
[code]

The exception:

[2015-03-12 16:55] miyconst commented on #1
Everything works fine if change property's name to Key.

[2015-03-12 16:55] warpech commented on #1
Was there any additional error in Administrator -> Log?

[2015-03-12 16:58] miyconst commented on #1
Yes, two of them:

[2015-03-12 16:58] miyconst commented on #1
System.Exception: ScErrWeavingError (SCERR2030): At least one error has been detected during weaving of the application code. Process exit code: 4050
 Version: 2.0.3085.3.
 Help page: https://github.com/Starcounter/Starcounter/wiki/SCERR2030.
 at Starcounter.Server.WeaverService.LogAndRaiseExceptionFromFailingWeaver(ToolInvocationException e) in c:\TeamCity\TeamCity8\buildAgent\work\sc-2.0.3085.3\

[2015-03-12 16:58] miyconst commented on #1
ScErrWeavingError (SCERR2030): At least one error has been detected during weaving of the application code. Process exit code: 4050.
 Arguments=--maxerrors=1 --ErrorParcelId=A4A7D6FA-EB34-442A-B579-DBB1DBB859E3 Weave "E:\GitHub\People\bin\Debug\People.exe" --outdir="C:\Users\const\Documents\Starcounter\Personal\Temp\Default\Default-20150210T223255739\weaver\F0032F995E73924CB13228206A0788B6C608CDA3

[2015-03-24 22:40] alemoi opened #2 "What should be the name for Simplified DLL?"
Since we are putting current Simplified.dll to distribution, I guess the name for this DLL should be different, since its something people are going to add as a library reference in Visual Studio, etc.

[2015-03-25 09:57] warpech commented on #2
How about "Simplified Data Model"?

[2015-03-25 10:15] dan31 commented on #2
Should it be in some "Models" namespace, like "Starcounter.Models.Simplified"?

[2015-03-25 10:23] warpech commented on #2
I think that the idea was to emphasise this is something arbitrary that did not come from Starcounter.

Like "ContosoUniversity" is not in "Microsoft" namespace.

[2015-03-25 11:35] alemoi commented on #2
Maybe then Polyjuice.Ontology.Simplified? Or Models instead of Ontology, like you proposed.

[2015-03-25 11:56] warpech commented on #2
do you need it to be in a namespace? I thought this question was only about the filename.

if we put it in a namespace then it will get very Java-ish: `Polyjuice.Ontology.Simplified.Ring1.Person`

[2015-03-25 12:59] alemoi commented on #2
No, it wasn't about namespace. I was thinking about the situation when user adds it as a DLL reference in Visual Studio, so its should start with some known prefix.

[2015-03-25 13:27] warpech commented on #2
Ah, sorry. But usually the name in the references list matches the namespace, doesn't it?

It cannot be "Polyjuice" because it would suggest that this is an endorsed component and it is not. It is just some arbitrary data model we created for the sake of the demo apps.

How about Sample.Model.Simplified?

[2015-03-25 14:44] alemoi commented on #2
Ok, I see then. I just thought this one is endorsed :)

[2015-03-25 18:11] alemoi commented on #2
Thanks for responses. I will name it `Sample.Model.Simplified` for now.

[2015-03-25 22:32] alemoi commented on #2
Sorry, I will rename it to your first variant `Simplified.Data.Model.dll` :)

[2015-03-26 00:12] alemoi commented on #2
Fixed now that `Simplified.Data.Model.dll` is a part of distribution. Known Polyjuice applications are updated correspondingly.

[2015-03-26 00:12] #2 closed

[2015-05-07 12:09] dan31 commented on #1
@per-samuelsson, @k-rus, do we reserve property named "ID" somewhere in Starcounter?

[2015-05-07 12:26] k-rus commented on #1
`__id` is reserved. I don't remember that `ID` was reserved in the parts that I deal with.
The above error is from weaver, so the question is to @per-samuelsson, but I guess he has no access to the repository and might not be able to see the issue or be notified.

[2015-05-11 10:26] warpech commented on #1
Mind that currently Simplified is using `Key`:

[code]

But I guess the problem remains for `ID`

[2015-05-11 10:44] per-samuelsson commented on #1
I don't remember either that we have reserved ID. I will do some preliminary tests and review the code a little, and get back after that.

[2015-05-11 10:56] per-samuelsson commented on #1
I did a simple test, but on branch **next** (b/c I'm currently working on that, and it's bit of a hazzle to change). The following class weaved w/o a problem.

[code]

That leads me to thinking two things: 1) either it's only on **develop** (which seems less likely), or 2) it might not be the ID in Something that actually fails, but that some other class extend Something and declare an ID field (t

[2015-05-11 11:00] per-samuelsson commented on #1
Ring3.Product.ID

[2015-05-11 11:05] warpech commented on #1
Good find! But then we have another problem - an unuseful error message.

[2015-05-11 11:08] per-samuelsson commented on #1
Yep. Its the propagation between components that does not work properly. I know I have a similar issue on me in Starcounter repo. I'll take this one on as well.

[2015-05-11 11:09] per-samuelsson commented on #1
https://github.com/Starcounter/Starcounter/issues/2629

Not the same, but related.

[2015-05-11 11:12] per-samuelsson commented on #1
@warpech

Seems I can not assign my self to this issue? Can you either put a similar one in Starcounter issue tracker, and reference this. Or, if you want to use the issue tracker here, somehow assign me? Thanks.

[2015-05-11 11:40] warpech commented on #1
Created the error in Starcounter (linked above). Now you can assign yourself. Closing this.

[2015-05-11 11:40] #1 closed

[2015-11-10 15:03] miyconst opened #3 "Add CONTRIBUTING.md"
By @warpech at https://github.com/handsoncode-apps/Simplified/issues/1

in Simplified CONTRIBUTING.md?

[2015-11-11 10:33] miyconst commented on #3
Done.

[2015-11-11 10:33] #3 closed

[2015-11-18 09:47] miyconst opened #4 "Extend readme"
The readme should be extended with some more explanation of what is `Simplified.Data.Model.dll` and  what do the rings mean.

cc @warpech, @Starcounter-Jack

[2016-01-19 09:28] per-samuelsson commented on #4
Also add in the ReadMe **Usage** section that since this commit - https://github.com/StarcounterSamples/Simplified/commit/83dcb76444cc4a4922487daf6a543d8ba9801685 - the `Simplified.Data.dll` is copied to `StarcounterBin\EditionLibraries`. I guess the idea is that it should be referenced from there in projects.

[2016-01-19 09:28] per-samuelsson commented on #4
(I tried doing this myself, but I didn't have sufficient rights)

[2016-01-19 09:41] per-samuelsson opened #6 "Build fail: dependency to SO libraries not resolved"
I have a locally built Starcounter, based on standard Level1.sln.

When I clone `Simplified` and build it, the mapper (`Simplified.Mapper`) fail to build. I diagnosed it, and it's because it depends on SO concepts ring libraries in hinted paths like these:

I don't have any such libraries on my machine it seem. Is there some manual step I need to do to get `Simplified` to build successfully?

/cc

[2016-01-19 09:55] chrhol commented on #6
I assume that you build Starcounter locally and not using an installer? Then you need to either build SO from StarcounterSamples or exclude `Simplified.Mapper`.

If you are using an downloaded installer and the  SO libraries are missing then something is wrong, these files should be included.

[2016-01-19 10:00] chrhol commented on #6
Didn't read the first line obviously :)

[2016-01-19 10:00] per-samuelsson commented on #6
Yes, I do, as I wrote:

:sunglasses:

[2016-01-19 10:01] per-samuelsson commented on #6
OK. Maybe we should include that in the build instructions on in the ReadMe?

Thanks for the help.

[2016-01-19 10:02] chrhol commented on #6
I*m not sure that `Simplified.Mapper` should be a part of the standard `Simplified` solution. I think we need to discuss how to practically handle this.

[2016-01-19 11:11] per-samuelsson commented on #6
That will have to be in a separate issue, as I'm closing this one now (my question was answered). :smile:

[2016-01-19 11:11] #6 closed

[2016-01-19 11:39] warpech commented on #4
@per-samuelsson I made some changes. Could you please review README.md again?

Now you should have access to edit it if needed.

Thanks!

If you agree it is fine, I think we can close this issue

[2016-01-19 11:45] per-samuelsson commented on #4
Totally fine, much better than before. Thanks! I'm closing this.

[2016-01-19 11:45] #4 closed

[2016-01-27 11:24] jwillmer opened #7 "[Question] Process of extending the library?"
Is it desired to extend the library? For example I would like to use the library to be able to use the demo apps besides my own but I need a weight field in the person model.

Shall I fork it and extend it or does it make sense to incoperate it in the existing library?

[2016-01-27 11:36] per-samuelsson commented on #7
/cc @miyconst @warpech

[2016-01-27 11:39] per-samuelsson commented on #7
@jwillmer

From what I understand by the [contribution guidelines](https://github.com/StarcounterSamples/Simplified#how-to-contribute) the idea is to bring stuff in eventually. But let's see what the main guys have to say about it; I'm interested too. :curly_loop:

[2016-01-27 12:01] miyconst commented on #7
Yes, you can extend the model with a Pull Request.

[2016-01-27 12:09] jwillmer commented on #7
Pull Request: #8

[2016-01-27 12:09] #7 closed

[2016-01-27 12:58] jwillmer opened #9 "How to switch the Simpliefied.dll with a new version?"
What do I have to do if the Simplified library is newer than the version that comes with Starcounter and I want to replace it?

[2016-01-27 13:01] miyconst commented on #9
You have to open Simplified solution in VisualStudio and rebuild it. Starcounter server has to be restarted to take the changes.

[2016-02-03 12:39] linkdata opened #10 "PlaceBooking.Database.Booker should be in Simplified namespace"
The database class PlaceBooking.Database.Booker should be in Simplified namespace.
https://github.com/StarcounterSamples/Simplified/blob/master/Ring6/Booker.cs
See https://github.com/Starcounter/Replicator/issues/21

[2016-02-03 17:01] warpech commented on #10
Thanks for reporting. @andwah could you do this?

[2016-02-03 17:41] andwah commented on #10
@warpech Sure.

[2016-02-03 17:47] andwah commented on #10
Fixed.

[2016-02-05 14:06] warpech commented on #10
Thanks

[2016-02-05 14:06] #10 closed

[2016-02-05 14:07] warpech commented on #9
Actually README.md has this information. Should this be further clarified?

[2016-02-05 14:35] jwillmer commented on #9
Worked for me. Just havent seen it ;)

[2016-02-05 14:35] #9 closed

[2016-02-24 13:25] warpech opened #12 "SessionIdString is deprecated"
I get the following warnings at compile time (three times in `SystemUser.Static.cs`):

[code]

cc @miyconst

[2016-02-25 10:09] diliger opened #13 "Organization.ContactPersons exception"
I was unable to use Organization.ContactPersons because of an exception:

I read the code of Organization class here https://github.com/StarcounterSamples/Simplified/blob/master/Ring2/Organization.cs

and see there is a query without full name of OrganizationPerson class, so that's probably the issue.

[2016-02-25 11:34] miyconst commented on #12
This is a change in Starcounter made by @alemoi, I can fix Simplified to use the latest version.

[2016-02-25 11:42] miyconst commented on #13
Good catch. I will fix that.

[2016-02-25 12:12] alemoi commented on #12
Yes, that is true. Next time when having breaking changes i will go through all apps we supply, I think @warpech even created an issue regarding such list somewhere. I would also suggest making Simplified treat warnings as errors on all projects.

[2016-02-25 13:32] miyconst commented on #13
Fixed.

[2016-02-25 13:32] #13 closed

[2016-03-01 11:36] #12 closed

[2016-04-15 10:21] warpech opened #14 "Remove Illustration"
In the current data model, [`Something`](https://github.com/StarcounterSamples/Simplified/blob/fb6b1e2299839fd9f60dced7165ff2f0659244bb/Ring1/Something.cs) has a property [`Illustration`](https://github.com/StarcounterSamples/Simplified/blob/fb6b1e2299839fd9f60dced7165ff2f0659244bb/Ring1/Illustration.cs).

I think that it is wrong because it makes the concept of `Illustration` special and gives un

[2016-04-15 10:30] miyconst commented on #14
Positive. The `Simplified.Ring1.Illustration` confused me a couple of time.

The only thing I would change is the names: `Something_Barcode`, `Something_Image`, means without the `s` letter, not with an underscore :).

[2016-04-15 10:48] aloscha commented on #14
And the `Simplified.Ring2.Image` will have fields:
- Content (Url)
- Something?

[2016-04-15 12:47] warpech commented on #14
Thanks!

I was inspired by [`SomebodiesRelation.cs`](https://github.com/StarcounterSamples/Simplified/blob/master/Ring1/SomebodiesRelation.cs) and wanted to be consistent with it.

[2016-04-15 13:16] miyconst commented on #14
No, it won't have property `Something`. The relation between Images and Somethings will made via `SomethingsImage` class.

[2016-04-15 13:17] miyconst commented on #14
I also don't like this name, but it's fine. Let's be consistent and keep the `'s`.

[2016-04-15 13:23] aloscha commented on #14
@miyconst and what about that naming?
`  Handle.POST("/**images/images**", (Request request) => {`

[2016-04-15 13:24] miyconst commented on #14
@aloscha sorry I don't get your question.

[2016-04-15 13:29] aloscha commented on #14
I mean if will create/change names I also suggest to change some uri like /images/images, which tell nothing.

[2016-04-15 13:35] warpech commented on #14
Well, I agree but this has nothing to do with this issue.

The way I see it:

[code]

[2016-04-28 08:18] ubbeK opened #15 "Remove fields from Gender.cs"
We should remove the `MaleName` and `FemaleName` fields if they are unused from the [public Gender class](https://github.com/StarcounterSamples/Simplified/blob/master/Ring2/Gender.cs). These fields are not alone the complete scope of Gender, hence it should be removed.

[2016-04-28 09:05] miyconst commented on #15
Well, the scope is enough for 99%, unless we have some strange snails and worms in our `Someone` table :D.

Those values are used by one of our customers, but I agree, better to remove it, not everyone uses English.

[2016-06-28 10:07] warpech opened #17 "Adapt data model to EpicDemo"
Adapt the data model to https://github.com/Starcounter/EpicDemo/blob/master/Datamodel.md

Let's keep the existing class `Somebody` instead of the proposed `Agent` class.

Do the work on a separate branch (`EpicDemo)

[2016-06-28 21:19] warpech commented on #17
Done by @diliger on `EpicDemo` branch with some changes from me.

[2016-06-28 21:19] #17 closed

[2016-08-10 16:17] warpech opened #20 "Change the Organization data model to be more abstract"
Organization will have Members, who can be both Persons and other Organizations.

Organization will have Admins, who can be both Persons and other Organizations.

With this data model, we can model a "sheep herd" (organization), which has both "sheep" (members) and "shepherds" (admins).

After this change, adapt all the related code: https://github.com/search?q=organizationperson+user%3AStarcounte

[2016-08-10 16:20] warpech commented on #20
Work is done in:

- https://github.com/StarcounterPrefabs/Simplified/tree/organization-refactor
- https://github.com/StarcounterSamples/People/tree/organization-refactor

cc @Mnosek, @miyconst

[2016-08-30 14:06] warpech commented on #20
This is now done. Might be changed in future, again

[2016-08-30 14:06] #20 closed

[2016-10-24 07:17] mtornwall opened #28 "Improve password hashing"
Storing passwords as a salted SHA256 hash is not safe now that GPU cracking is commonplace.

Modern password storage should use a memory-hard key derivation function (such as [scrypt](https://en.wikipedia.org/wiki/scrypt) or the more recent [Argon2](https://en.wikipedia.org/wiki/Argon2)) in order to thwart GPU attacks.

[2016-10-24 07:28] miyconst commented on #28
And the C# implementation - [Replicon.Cryptography.SCrypt](https://github.com/replicon/Replicon.Cryptography.SCrypt).

[2016-10-24 08:35] miyconst commented on #28
This issue could be done together with [Replace client side hashing with client side encryption](https://github.com/StarcounterPrefabs/SignIn/issues/34).

[2016-11-10 18:47] miyconst commented on #28
Implemented by me and checked by @warpech. Closing the issue.

[2016-11-10 18:47] #28 closed

[2016-11-15 14:22] miyconst opened #34 "Merge develop branch into master"
I think it was agree to merge the develop branch into master, since it is backwards compatible, and it Simplified should not be treated as an app, rather as a piece of Starcounter.

@warpech can you confirm?

[2016-11-15 15:59] warpech commented on #34
Yes, I agree. Can you please do the merge?

[2016-11-15 22:19] miyconst commented on #34
Will do so.

[2016-11-16 08:07] andwah commented on #34
When this is done i will start making new versions of SignIn, UserAdmin and Registration

[2016-11-16 08:48] miyconst commented on #34
We have to modify our build script to enable unsafe code for Simplified.

This line of code causes a build error.

[code]

[code]

Although it is enabled in the `Simplified.csproj` file, it still fails on the build server.

[code]

cc @alemoi, @ubbeK

[2016-11-16 09:22] miyconst opened #35 "Add [Obsolete] attribute to the old SystemUser methods once next Starcounter stable released"
The following methods should be marked as `[Obsolete]`.

- `SystemUser.GenerateClientSideHash`
- `SystemUser.GeneratePasswordHash`
- `SystemUser.GenerateSalt`

Our build system treats warnings as errors, that is why we cannot mark the methods as `[Obsolete]` before `master` branch of all the apps involved updated.

[2016-11-16 11:20] miyconst commented on #34
Done. Should be available in the next nightlies. Had to remove the `[Obsolete]` attribute though. https://github.com/StarcounterPrefabs/Simplified/issues/35

[2016-11-16 11:20] #34 closed

[2016-11-16 17:36] andwah commented on #34
Thanks.. @miyconst   tomorrow i will build new versions of  SignIn, UserAdmin and Registration

[2016-11-17 08:09] per-samuelsson opened #36 "Adapt Simplifed to upcoming 2.4 changes"
Background here: https://github.com/Starcounter/Starcounter/issues/3946#issuecomment-261180485

Should be assigned to me (I seem not to have that privilege).

[2016-11-17 08:24] per-samuelsson commented on #36
And clearly, I can't push either then. 😸 @miyconst, any chance you could give me those permissions? I promise I won't mess with the master branches.

If you think it's better I fork and send a PR, that's fine I guess. Just that I don't want anything pulled into any master branch anyway. ❗️❓

[2016-11-17 08:57] per-samuelsson commented on #36
Hah! I just lurked around and noticed that @warpech already had given me an invitation to `StarcounterPrefabs` a really long time ago. Just joined, and now I'm on track again. 👍

[2016-11-18 11:41] per-samuelsson commented on #36
When this is merged in main branch, we must update this https://github.com/StarcounterPrefabs/Simplified#distributed-with-starcounter and this https://github.com/StarcounterPrefabs/Simplified#building-your-own.

[2016-11-21 08:22] per-samuelsson commented on #36
Is it documented somewhere how Simplified (and SocietyObjects) relate to different versions of Starcounter?

cc @miyconst @warpech

[2016-11-21 08:27] miyconst commented on #36
Sorry, I don't get the question. As of now the `Simplified` library was shipped with Starcounter. So, it was no how related to different versions of Starcounter, it was a part of it.

[2016-11-21 08:35] per-samuelsson commented on #36
Sorry, I was probably not clear enough. I've made some changes in *how* it's bundled with Starcounter, but we have decided that it will be still. The changing thing is that it will need to be explicitly referenced from projects that want to use it (just like normal references).

But my question was how Simplified relate to *different versions of Starcounter*. The thing I'm doing right now, which t

[2016-11-21 08:39] miyconst commented on #36
No such things for Simplified as I know. Maybe @warpech can add some more.

I wander, which changes broke the compatibility with Starcounter 2.2?

[2016-11-21 08:42] per-samuelsson commented on #36
No code changes (yet). Just changes relating to how the Simplified project must be built and bundled with Starcounter. We are just discussing breaking code changes that we have plan for. The probably will end up in some 2.4 version.

Thanks for the feedback @miyconst. I have a clearer picture now. I'll consider what options there are and I'll update here once this whole thing get merged.

[2016-11-21 08:46] miyconst commented on #36
Still, I would like to see those new features in Simplified, which do not work in Starcounter 2.2, even if it is not yet there.

[2016-11-28 14:05] per-samuelsson commented on #36
Note to self: Need to adapt to https://github.com/Starcounter/Starcounter/issues/3980 too.

[2017-01-19 12:11] per-samuelsson commented on #36
Done.

[2017-01-25 10:19] per-samuelsson commented on #36
Merged: https://github.com/StarcounterPrefabs/Simplified/commit/49aac67c5f2299f51b30de58ee97e9b308fd0b51

[2017-01-25 10:19] #36 closed

[2017-04-21 06:42] Mackiovello opened #49 "Make this repository public"
This repo is used in all the sample apps and is mentioned several times in the documentation. It is unfortunate that we cannot link to this repo since it is integral to much of what we show people that are new to Starcounter.

To make this possible, the use of `DbMapping` has to be removed.

@alemoi

[2017-05-30 11:40] Mackiovello commented on #49
The old branches are deleted and the repo is set to public. Thank you @alemoi! Closing.

[2017-05-30 11:40] #49 closed

[2017-05-30 14:14] alemoi commented on #49
Awesome @Mackiovello ! Can you please double check after me that there are no traces of database mapping there? Not that I could find!

[2017-05-30 15:25] Mackiovello commented on #49
I'm not sure how database mapping actually looks in code. Look around anyway and did some searches on the code and didn't find anything. It seems like you did a thorough job :rocket:

[2017-06-28 11:59] warpech opened #53 "Change fields to properties in all database classes"
As requested in https://github.com/Starcounter/TechComm/issues/340, change fields to properties in all `[Database]` classes in this repo.

Notice (see https://github.com/StarcounterApps/Simplified#branches-in-this-repo) that unlike apps repos, work in this repo need to be done in form of a PR to the `master` branch. After it is accepted, merge `master` to `develop`.

While working on this, please

[2017-06-30 11:51] Mihaiii commented on #53
Made the changes in Simplified and tested the result in Content app.
I get this error:

Undo some changes, try again, I get this error:

Undo all changes, just to be sure I didn't mess something up and everything is ok.

[2017-06-30 13:16] Mihaiii commented on #53
I can't replace the fields that have the `SynonymousTo` attribute.
If I do this, I get [this](https://github.com/Starcounter/level1/wiki/SCERR4070) error.

@warpech Should I replace everything else?

[2017-06-30 13:20] warpech commented on #53
Yes please. Future of synonyms is unclear: https://github.com/Starcounter/CompanyTrack/issues/180

[2017-07-06 12:56] warpech opened #55 "Build fails on TeamCity"
@ubbeK, could you please help us out and check why builds of https://github.com/StarcounterApps/Simplified/commits/master are failing in TeamCity?

[2017-07-06 21:11] Mihaiii commented on #53
Closing as done.

[2017-07-07 11:47] ubbeK commented on #55
[code]

The `tools\Teamcity.ps1` file does not exist on `Master` branch, only on `Develop`

[2017-07-07 13:46] ubbeK commented on #55
The reason for this is that both `Simplified Develop` and `Simplified Master` TeamCity jobs inherits its build configuration from `Simplified_Template` which executes:

1. msbuild simplified/Simplified.sln
2. simplified/tools/Teamcity.ps1 -checkoutdir %teamcity.build.checkoutDir% -nunitversion 3.6.1 -browsersToRun Chrome,Firefox -testedApp Simplified -appsToRun Simplified

I will try if `simplifie

[2017-07-07 13:50] warpech commented on #53
@Mihaiii what's the reason not everything was replaced? For example: https://github.com/StarcounterApps/Simplified/blob/1615a9b1a3a9ab3baacf125468c636235208c235/Ring3/User/SystemUser.cs#L6-L7

[2017-07-07 13:53] warpech commented on #55
That was made a while ago by @alemoi to allow us for easier changes in Simplified.

Also, Starcounter does not support loading the same DLL in different versions, so we cannot allow apps to use Simplified as a copy - they all need to load it from the same location for compatibility.

[2017-07-07 13:56] chrhol commented on #55
If I'm not mistaken, this should already have been changed in develop branch (compatible with sc2.4/develop) where simplified is no longer included in Starcounter

[2017-07-07 13:56] ubbeK commented on #55
Sure, but just make a script that does that for us, and let developers and TeamCity call that one. Because now I have to delete Simplified.dll in Starcounter dir before building the solution.

[2017-07-07 13:59] ubbeK commented on #55
Yes, the develop branch seems to have output path at `bin\Release\`

[2017-07-07 14:02] ubbeK opened #57 "Develop TeamCity build fails"
`Simplified.csproj error ScErr1234: This project specifies its compatible with Starcounter 2.4 while the installed version of Starcounter requires 2.3. The probable cause is you have an incompatible version of the Starcounter Visual Studio extension installed. For Starcounter version 2.3, we recommend extension versions >=1.0.0 <2.0.0. Please see https://github.com/Starcounter/Starcounter.VisualSt

[2017-07-07 14:03] ubbeK commented on #55
Master TC build is now successfully executed, see #57 for the develop build. Closing this issue

[2017-07-07 14:03] #55 closed

[2017-07-07 14:16] ubbeK commented on #57
@warpech Is master-branch for Starcounter 2.3 Teamcity builds (RC) and develop-branch for Starcounter 2.4 Teamcity builds (Develop)?

[2017-07-07 14:18] ubbeK commented on #57
Because when develop-branch is built against Starcounter 2.4 it passes, but master-branch is built agains 2.2 Released at the moment

[2017-07-07 14:32] ubbeK commented on #57
TC builds are now passing.

`develop` branch:

- Build against `Windows Develop Nightly`
- triggered: on `develop` branch commit + Successful `Windows Develop Nightly`

`master` branch:
- Build against `Windows RC Nightly`
- triggered: on `master` branch commit + Successful `Windows RC Nightly`

closing issue

[2017-07-07 14:32] #57 closed

[2017-07-07 15:01] warpech commented on #57
Yes, as explained in https://github.com/StarcounterApps/Simplified#branches-in-this-repo

[2017-07-07 15:03] warpech commented on #57
Thanks, you're our hero of today!

[2017-07-10 08:11] Mihaiii commented on #53
Closing as redone.

[2017-07-10 08:11] #53 closed

[2017-07-17 16:37] warpech opened #63 "Everyone gets confused by branches in this repo"
**Everyone** gets confused by specific branching scheme used in this repo.

Quotation from README.md:

----

Maybe it would be easier if we did differently?

- `develop` branch works with 2.2, 2.3 and is NOT used by Starcounter build
- `master` branch works with 2.2, 2.3 and is used by a Starcounter build
- `master-v2.4` branch works with 2.4 and is used by a Starcounter build

That branching sche

[2017-07-17 19:49] ubbeK commented on #63
I am fine with this solution.

[2017-07-18 06:48] PatrykSzwer commented on #63
I agree since I've became victim of this solution as well. It will definitely improve readability.

[2017-07-18 07:44] bouguila commented on #63
it seems to be a convenient solution.

[2017-07-18 07:50] un-tone commented on #63
Who will merge `develop` branch to `master`, and when?

[2017-07-18 08:00] warpech commented on #63
Merge from `develop` to `master` should be made often, so that the `develop` branch in our prefab apps works with the current Starcounter RC.

[2017-07-18 08:04] un-tone commented on #63
OK. I agree with the solution

[2017-07-18 08:22] warpech commented on #63
Seems that we have a consensus! @ubbeK could you please proceed with it?

[2017-07-18 15:56] ubbeK commented on #63
Sure. First thing tomorrow.

I will fix the following, please stop me if I misunderstood.

1. rename `develop` branch to `master-v2.4`

2. update TeamCity trigger Starcounter RC (2.3.1):
`+ any`
`- master-v2.4*`
`- v2.4*`

3. update TeamCity trigger Starcounter Develop (2.4):
`+ master-v2.4*`
`+ v2.4*` if a branch is named v.2.4*, then TeamCity will execute it towards Starcounter Develop verssion

[2017-07-19 09:24] ubbeK commented on #63
this issue has been implemented.

Current roles for branches:

- `master`  - released with Starcounter versions 2.2 and 2.3
- `master-v2.4` - released with Starcounter version 2.4
- `develop` - development branch for `master` branch i.e. Starcounter versions 2.2 and 2.3

[2017-07-19 09:24] #63 closed

[2017-07-19 10:36] alemoi opened #65 "StarcounterVersionCompatibility is not in develop"
The develop Starcounter builds are failing because `StarcounterVersionCompatibility` is not set in Simplified.csproj in `develop`

Did someone forgot to merge or there is another reason? CC @warpech @un-tone

[2017-07-19 10:44] un-tone commented on #65
I suppose it is related to https://github.com/StarcounterApps/Simplified/issues/63 and I guess @ubbeK can help

[2017-07-19 12:06] ubbeK commented on #65
`develop`-branch is now development branch for `master` i.e. Starcounter 2.2 and 2.3

`master-v2.4`-branch is for Starcounter 2.4

So I think that I forgot to update TC jobs for Development jobs from `develop` branch to `master-v2.4`

[2017-07-19 12:09] ubbeK commented on #65
It should be fixed now, will close issue after TC jobs are finished.

Thanks for reporting

[2017-07-19 14:01] ubbeK commented on #65
TC Starcounter Develop Jobs has been updated to target `Simplified master-v2.4` branch.

Closing

[2017-07-19 14:01] #65 closed

[2017-07-20 13:13] warpech commented on #63
Great job, thanks!

[2017-08-21 13:35] Joltrix opened #68 "Purpose of Develop branch"
How should the contributing to this repo work?

After reading this [PR](https://github.com/StarcounterApps/Simplified/pull/66#issuecomment-321765564) and StarcounterApps/Simplified#63 I "came to the conclusion" that a contribution should work like this:

1. Make changes in separate branch
2. Make a PR with those changes into `develop` branch
3. Update `master` branch from `develop` branch

is this

[2017-08-21 19:06] un-tone commented on #68
I assume you made this commit 83d629873c9a89c25c89b1b1144256bf61346bc1 by mistake. There you merged `develop` branch with this commit 1b44a588f699b5e57a6b573fd6bb8c2de9e20f0a which is quite old and used in SC 2.4.
In that commit you can't see this change for some unknown for me reason.
[code]
Maybe there are some anomaly in Git.

[2017-08-21 19:22] un-tone commented on #68
I reverted that incorrect changes. In future please always use PRs way even when merging `develop` into `master`.

[2017-08-21 19:22] #68 closed

[2017-08-22 07:04] Joltrix commented on #68
Yeah, I'm using github desktop, and for the Simplified repo it's been malfunctioning for the past week or so... Thank you for fixing this issue :)

Also, since we're at it, one question. If I want to make a change, where should I make a PR to? To develop, and then make a PR to master?

[2017-08-22 07:41] un-tone commented on #68
Yes, you should make PRs with your changes into `develop`.
After that you can make a PR from `develop` to `master` if you want your changes to be used in a next SC build. This PR does not even require approvals, I suppose. This approach just makes such mergings more visual and eliminates issues like was above.

[2017-08-22 07:48] Joltrix commented on #68
Okay! Thank you for clarifying :)

[2017-09-28 14:31] Joltrix opened #82 "Adding some logic in a Simplified Class (Simplified.Ring3.SystemUser)"
I have been trying to add filtering into the Timeline,
![image](https://user-images.githubusercontent.com/10708580/30970174-b9de2276-a464-11e7-94ac-3efe7416324d.png)

So, the right dropdown should display a list of all the EventFilters that the user can use to filter his/her "view", While the left "buttonline" shows a shorcut for some filtering options (set from the right dropdown by clicking the

[2017-09-28 15:02] Joltrix commented on #82
This will fix this [Timeline issue](https://github.com/StarcounterApps/Timeline/issues/34)

[2017-09-29 23:05] atifwaqar opened #83 "Question: I cant find Social Media profiles of Organizations and People in any Ring"
Social Media profiles like FB, G+, LinkedIn, etc

[2017-10-02 08:30] Joltrix commented on #82
I was managed to solve this in another way, so I won't need to add anything to Simplified :), So I'll go ahead and close this issue.

[2017-10-02 08:30] #82 closed

[2017-10-06 10:23] warpech opened #85 "Obsolete `Key`"
It seems to me that the property `Key` in Simplified.Ring1.Something should be obsoleted for the reasons explained in https://github.com/Starcounter/Home/issues/252.

In the Website app we already stopped using it: https://github.com/StarcounterApps/Website/issues/216

cc @StarcounterApps/starcounter

[2017-10-06 11:02] Mackiovello commented on #85
Is it possible to do Typed JSON data-bindings do the id without having `Key` as a property on the class?

I thought `Key` was a way to enable data-bindings.

[2017-10-06 11:04] warpech commented on #85
Yes, and that works well but `Key` also started to get used in SQL queries and that is not good. So my proposal is to remove `Key` from Something and add it as a getter in the view-models.

Any better idea?

[2017-10-06 11:21] Mackiovello commented on #85
No, it's the best way to prevent that behavior. But I don't see why you would ever query for `Key`; to check for equality there's the `=` operator in SQL and to retrieve a single object there's `Db.FromId`.

It's your call whether the cost of changing Simplified and the apps that use it vs. trying to teach people how to use the `Key` property. I believe in preventing behavior that could cause bugs

[2017-10-06 11:26] warpech commented on #85
https://github.com/StarcounterApps/Website/issues/216 (left side of code comparison) shows what are the legitimate ways `Key` could be used in queries, if it worked correctly.

[2017-10-06 21:35] miyconst commented on #85
+1, it should be obsolete in `2.3.1` and removed in `2.4`.

[2017-11-20 10:39] miyconst commented on #85
@LarsTjernstrom please take care of this issue.

[2017-11-21 23:46] Mihaiii commented on #85
Maybe I'm too tired at this moment, but I'm asking anyway.
How should I handle cases like [this one](https://github.com/StarcounterApps/Calendar/blob/develop/src/Calendar/ViewModels/EventsPage.json.cs#L82) ? `Key` is used [here](https://github.com/StarcounterApps/Calendar/blob/develop/src/Calendar/wwwroot/Calendar/viewmodels/EventsPage.html#L30).

[2017-11-22 18:05] Mihaiii commented on #85
All the apps under apps-team are covered.

[2017-11-23 12:36] Mackiovello commented on #85
It seems like this is done then. Well done @Mihaiii! Closing

[2017-11-23 12:36] #85 closed

[2017-11-28 16:46] warpech opened #93 "Outdated text and diagram about branches in README.md"
`README.md` text and the SVG diagram mentions `develop` branch which no longer exists.

@Mihaiii can you pls update it?

The source code for the diagram is included as metadata in the SVG file. To edit it, simply load the SVG file in https://www.draw.io/

[2017-11-28 17:02] Mihaiii commented on #93
This issue was discussed here: https://github.com/Starcounter/RebelsLounge/issues/175#issuecomment-347589973 .

TLDR: `develop` branch is now restored.

[2017-11-28 17:02] #93 closed

[2017-12-07 11:53] miyconst commented on #83
@atifwaqar thank you for the question, you can't find any because there is no such.

We are currently working hard to stop using `Simplified` and provide facilities so the apps will be able to use their own view-model. This means `Simplified` data model will not be extended with extra classes for the social media profile, but you can do that inside your application.

[2017-12-07 11:53] #83 closed

[2017-12-07 11:55] miyconst opened #95 "Remove SynonymousTo attribute usage"
The `[SynonymousTo]`  attribute for the database classes is deprecated and going to be removed in the next major Starcounter release.

[2017-12-07 11:55] miyconst commented on #95
https://github.com/StarcounterApps/Simplified/search?utf8=%E2%9C%93&q=SynonymousTo&type=

[2017-12-07 13:26] per-samuelsson commented on #95
Cheat sheet (raw material): https://github.com/per-samuelsson/Misc/issues/6#issuecomment-349963169

[2017-12-07 15:05] miyconst commented on #95
Pull request is here - https://github.com/StarcounterApps/Simplified/pull/96.

[2017-12-08 07:48] miyconst commented on #95
Branch for `2.4` - [issues/95-remove-synonymous-to-v2.4](https://github.com/StarcounterApps/Simplified/tree/issues/95-remove-synonymous-to-v2.4).

[2017-12-08 08:00] miyconst opened #98 "Why `master-v2.4` branch is so far behind `master`?"
The readme say:

But @warpech, @Joltrix, @un-tone, @Mihaiii, and @PatrykSzwer [didn't do that](https://github.com/StarcounterApps/Simplified/compare/master-v2.4...master?expand=1).

[2017-12-08 08:35] warpech commented on #98
I believe it should be merged by principle.

I am on not on 2.4 yet, so I suggest someone who can test it in 2.4 does that.

[2017-12-08 14:17] Mihaiii commented on #98
How can I test it without publishing?
In 2.3 I used to reference the local dll, but in 2.4 I can't.

[2017-12-08 15:46] per-samuelsson commented on #98
You can, and should, let TC run a personal build for you. Are you familiar with how to? If not, I can help explain it to you!

Now builds are broken because it was pushed, so would be good fixing that.

[2017-12-08 15:58] Mihaiii commented on #98
Really sorry for that. Merge is now reverted.

Yes, I will make a custom build and see how it all goes from there.

[2017-12-08 16:04] per-samuelsson commented on #98
Cool. Can happen to anyone.

👍

From quickly skimming error, it looked like merge dropped `<StarcounterCompatibility>2.4</StarcounterCompatibility>` from `.csproj`-file. Which, I guess, can only happen if 2.3 was branched off of 2.4 at some point, and not the other way around. Anyway, could be as simple as just making sure that is added manually after merge.

[2017-12-09 23:19] miyconst commented on #95
Done. Merged into `master` and `master-v2.4`.

[2017-12-09 23:19] miyconst commented on #98
The `master-v2.4` branch is now up to date.

[2017-12-09 23:21] miyconst opened #100 "Replace QueryResultRows with IEnumerable"
The `master-v2.4` branch contains multiple usage of the deprecated class `QueryResultRows`, it should be replaced with `IEnumerable`.

[2017-12-10 15:03] LarsTjernstrom commented on #95
Since the apps team are now supporting 3 versions of the prefab apps, 2.3, 2.4 with Simplified and 2.4 based on local db models and mapping and we have a real delivery to a customer. So we have our hands full, so I ask you, why are we depricating functionality at all? There must be a really good reason? We want to add functionality, e.g. authentication and authorization to the apps, but we are spe

[2017-12-10 15:07] miyconst commented on #95
@LarsTjernstrom the decision to deprecated `[SynonymousTo]` was made long ago, and I didn't spend time from the apps team members, only @Mihaiii helped with a pull request review.

This deprecation does not remove anything from the apps or simplified, since the behavior of simplified is not changed, it is just implemented with standard .net features.

What extra do you want to see in scope of this

[2017-12-11 08:07] LarsTjernstrom commented on #95
@miyconst The reason for reopening was Habibs comment below. But we can close it again, since I've gone through the refactoring of Simplified and you didn't do any changes to
_Something a = SomebodiesRelation.WhatIs;_

Still, what is the actual reason for obsoleting the SynonymousTo attribute? Because every feature that we obsolete will lead to refactoring internally and for our partners (=deliver

[2017-12-11 08:07] #95 closed

[2017-12-11 08:17] per-samuelsson commented on #95
@LarsTjernstrom

I see your point. But we come from a looooooong stretch of constant, furious (and often not well-grounded) adding of features, just years and years of adding new stuff people have been screaming loudest about basically.

I believe that at some point, we need short iterations where we go through stuff from the past not in use any more (and/or with bad design), and try to get away f

[2017-12-11 08:21] per-samuelsson commented on #95
Whats that comment from:

?

That should not be the effect of us removing support for synonyms. Then it was done wrong. Everything that could be done with synonyms is easily replaceable with standard .NET features (i.e. explicitly computed properties), or else it's done wrong.

[2017-12-11 10:03] miyconst commented on #95
Adding to what @per-samuelsson has already said.

Before

[code]

After

[code]

That was a wrong assumption by @habib535. The apps do not need to get changed at all, refactored version of Simplified is fully compatible with the apps, only source code recompilation is required.

If fact, this is an immediate investment.

- We already use mapping, and `SynonymousTo` is not supported there.
- Next g

[2017-12-15 14:05] warpech commented on #100
Was it necessary to do these changes only in branch `master-v2.4`? I thought they are compatible with 2.3 as well

[2017-12-15 14:06] miyconst commented on #100
As we agreed multiple times, we deprecate old API features in `2.3` and remove them in `2.4`. Removing `QueryResultRow` from `2.3` will break multiple apps.

[2017-12-15 14:11] warpech commented on #100
True, that actually changes API of Simplified. I didn't think of that.

Closing as done

[2017-12-15 14:11] #100 closed

[2017-12-15 14:39] PatrykSzwer commented on #98
Unfortunately `master-v2.4` is still out of date. Currently there are even files that doesn't exists on master-v.2.4 but does on master. Because of revert commit done by Mihai https://github.com/StarcounterApps/Simplified/commit/7c729ab20cce37d4efdba45c9f9737cc2d666073
files like `WebSettings` and many other changes are not included in `master-v2.4` even if github shows that master-2.4 is up to da

[2017-12-15 14:45] miyconst commented on #98
Maybe it would be better to drop the `master-v2.4` branch and do it again from the `master` branch? Are there any `2.4` specific changes/features?

[2017-12-15 14:50] warpech commented on #98
Yes there are: https://github.com/StarcounterApps/Simplified/issues/100

[2017-12-15 14:51] warpech commented on #98
I propose to manually copy files from `master` to `master-v2.4` and pick the missing files by hand. Remember to make sure to repeat the work from https://github.com/StarcounterApps/Simplified/issues/100 on these new files.

[2017-12-15 14:57] miyconst commented on #98
[Replace QueryResultRows with IEnumerable](https://github.com/StarcounterApps/Simplified/issues/100) is only in `2.4`, but it's not any custom logic, just some code sugaring, can easily be replicated after fresh copy-paste from `master`.

[2017-12-15 16:17] warpech commented on #98
Thanks for looking into this @Mihaiii, @PatrykSzwer and @miyconst. Is the issue solved now?

[2017-12-15 16:25] warpech commented on #98
@habib535, @Mihaiii What is the reason for having two separate branches `master-v2.4` and `v2.4-nuget-package`?

Why can't make the NuGet package from `master-v2.4`, according to the diagram in README.md?

[2017-12-15 16:51] habib535 commented on #98
`v2.4-nuget-package` is removed.

[2017-12-18 09:30] PatrykSzwer commented on #98
Guys, during review of @Mihaiii PR I've realized that there is a point in reverting all those changes and fixing current branch for 2.4. I suggest We do what @miyconst suggested - delete our current, messed up branch `master-2.4` and create a new one based on current `master`, and then just do PR with changes made only for 2.4 ([Replace QueryResultRows with IEnumerable](https://github.com/Starcoun

[2017-12-18 10:02] Mihaiii commented on #98
Why would that be better than merging #102 ?

[2017-12-18 11:16] Mihaiii commented on #98
@miyconst Please let me know if you consider that creating a new branch (with a new name, right?) would be best so I can start doing the changes before moving back to the mapping version of SC.

[2017-12-18 11:27] miyconst commented on #98
@Mihaiii my idea was to drop the `master-v2.4` branch and create it again from the `master` branch. The end goal is to have an up to date branch of Simplified compatible with Starcounter `2.4`. If it's easier to do another merge - I don't mind.

[2017-12-18 11:58] PatrykSzwer commented on #98
Because right now, git doesn't recognize differences between `master` and `master-2.4` and if there was any other change that we forgot to include, it will be really hard to find in future, if it cause any troubles. Also I'm not sure how "git problems" it could cause besides that. I think It would be just cleaner and safer.

And as @miyconst said, I would also suggest to delete current `master-v2.

[2017-12-18 12:09] Mihaiii commented on #98
It doesn't recognize differences because it works on commits and reverting that merge was done directly on `master-v2.4`. Any new commit from now on that is made on `master` will be recognized on merge into `master-v2.4`. At lease this is what I got from what happened (I might be wrong).
I'll delete the `master-v2.4` at around 4-5 in the morning as there are currently builds on TC. I'll also won't

[2017-12-19 07:24] Mihaiii commented on #98
Done. Closing.

[2017-12-19 07:24] #98 closed

[2018-02-26 15:08] PatrykSzwer opened #107 "OutputPath for master-2.4 is incorrect"
OutputPath for master-2.4 is set to installation folder of starcounter. When in case of SC 2.3 It has some sense, than in 2.4 is completely unnecessary because SC 2.4 bases on Nuget package rather than static file.

https://github.com/StarcounterApps/Simplified/blob/master/Simplified.csproj#L22

[2018-04-06 12:10] per-samuelsson opened #112 "Stop using fields, use auto-implemented properties"
Due to https://github.com/Starcounter/level1/issues/4579.

Sample error with fields around:

[2018-04-09 06:50] per-samuelsson commented on #112
Doing some testing, and are currently considering this: https://github.com/Starcounter/level1/issues/4579#issuecomment-379652058

[2018-04-09 08:36] per-samuelsson commented on #112
@miyconst

I don't seem to have write access to this repo so can't assign this to me, but I'll fix it, because it's a showstopper to have TC run later tests, so I'll provide you a PR to merge later.

[2018-04-09 08:40] miyconst commented on #112
@per-samuelsson you should have access to the repository now.

[2018-04-09 08:42] per-samuelsson commented on #112
Just one question @miyconst: fields in `Simplified.Ring3.Address` are declared protected. We can only keep support for *private* fields. If I change to private, subtypes will no longer have direct access to those, is that ok still?

[2018-04-09 11:12] miyconst commented on #112
That should be fine, cc @warpech, @LarsTjernstrom.

[2018-04-09 11:38] per-samuelsson commented on #112
Got a go from @miyconst off-tracker, and going with this approach.

[2018-04-09 11:45] per-samuelsson commented on #112
Done. Merged from #113.

[2018-04-09 11:45] #112 closed

[2019-01-09 15:35] ubbeK commented on #15
Archive

[2019-01-09 15:35] #15 closed